# Prerequisites
*.d
*.swp
*.pyc

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.i
*.ii
*.cudafe*
*.cubin
*.module_id
*.fatbin*
*.ptx

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
main

# Logs
*.log

# Compressed data
*.tar.gz
*.mtx
*.prof

